<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plantilla 2</title>
</head>
<body>
    <h1>Plantilla 2</h1>
    <table>
        <tr>
            <th>Columna 1</th>
            <th>Columna 2</th>
            <th>Columna 3</th>
        </tr>
        <tr>
            <td>Fila 1, Celda 1</td>
            <td>Fila 1, Celda 2</td>
            <td>Fila 1, Celda 3</td>
        </tr>
        <tr>
            <td>Fila 2, Celda 1</td>
            <td>Fila 2, Celda 2</td>
            <td>Fila 2, Celda 3</td>
        </tr>
        <tr>
            <td>Fila 3, Celda 1</td>
            <td>Fila 3, Celda 2</td>
            <td>Fila 3, Celda 3</td>
        </tr>
        <tr>
            <td>Fila 4, Celda 1</td>
            <td>Fila 4, Celda 2</td>
            <td>Fila 4, Celda 3</td>
        </tr>
    </table>
</body>
</html>

